@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_728426_euhhsynqg8p.eot');
  src: url('//at.alicdn.com/t/font_728426_euhhsynqg8p.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_728426_euhhsynqg8p.woff') format('woff'), url('//at.alicdn.com/t/font_728426_euhhsynqg8p.ttf') format('truetype'), url('//at.alicdn.com/t/font_728426_euhhsynqg8p.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-setting:before {
  content: "\e662";
}

.icon-arrowleft:before {
  content: "\e6e9";
}

.icon-add:before {
  content: "\e673";
}

.icon-dot:before {
  content: "\e63f";
}

.icon-trash:before {
  content: "\e67a";
}

.icon-download:before {
  content: "\e6b6";
}

.icon-sun1:before {
  content: "\e802";
}

.icon-search:before {
  content: "\e669";
}

.icon-dropDown:before {
  content: "\e600";
}

.icon-history:before {
  content: "\e8cd";
}

.icon-moon:before {
  content: "\e643";
}

.icon-close:before {
  content: "\e62b";
}

.icon-menu:before {
  content: "\e62e";
}

.icon-change:before {
  content: "\e6de";
}

.icon-sun:before {
  content: "\e668";
}

.icon-ziti:before {
  content: "\e617";
}

.icon-home:before {
  content: "\e69d";
}
